.backgroundStyle{
/*background: url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
/*background: url(https://images.unsplash.com/photo-1444012236767-1b471c68781c?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
/*background: url(https://images.unsplash.com/photo-1444012104069-996724bf4a0a?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
background: url('../img/landing.jpg');
background-size: cover;
background-position: center;
transition: background 1.5s linear;
-webkit-backface-visibility: hidden;
webkit-transition: background-image 1.5s linear;
-webkit-tracdnsform:translate3d(0,0,0);
}
.bg {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

body,
html {
width: 100%;
height: 100%;
font-family: "Lato";
color: white;
}

h1 {
font-weight: 700;
font-size: 5em;
}


.content{
padding-top: 20%;
text-align: center;
}

.content h1, .content h3{
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

hr {
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgba(0,0,0,0.2);
}

.headerStyle{
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
  background-color: rgba(212, 212, 213, 0.84) !important;
}

.first-section{
  background: url('../img/cover.jpg');
  background-color: #222;
  background-size: cover;
  background-position: center;
  transition: background 1.5s linear;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0px !important;
  text-align: center;
}

.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.first-section h1, .first-section h3{
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.first-section h1 {
padding-top: 15%;
font-weight: 700;
font-size: 5em;
}

.second-section{
  background-color: #f5f5f5;

}

.second-section h1{
  letter-spacing: 0;
  line-height: 38px;
  color:#205081;
  font-weight: 700;
  font-style: normal;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.third-section{
  background-color: #e9e9e9;
}

.third-section-row{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.fourth-section{
  /*background-color: #2F353E; */
  background-color: #3572b0;
  margin-top: 0px !important;
  padding-bottom: 1.3rem;
}

.fourth-section h1{
  text-align: center;
  letter-spacing: 0;
  line-height: 38px;
  color:#fff;
  font-size: 32px;
  font-weight: 100;
  font-style: normal;
  padding-top: 2%;
  padding-bottom: 1rem%;
}

.fourth-section-item{
  text-align: center;
  letter-spacing: 0;
  line-height: 38px;
  font-size: 11px;
  /*color:#707070; */
  color:#ffffff;
  font-weight: 700;
  font-style: normal;
}

/*
.fourth-section{
  background-color: #2F353E;
  margin-top: 0px !important;
  padding-top: 2% !important;
  padding-bottom: 15% !important;
  padding-left: 6% !important;
  padding-right: 10% !important;


}

.fourth-section h1{
  text-align: center;
  letter-spacing: 0;
  line-height: 38px;
  color:#fff;
  font-weight: 100;
  font-style: normal;
  padding-top: 0%;
  padding-bottom: 0%;
}
*/
.five-section h1{
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38px;
  color: #205081;
  padding-top: 15px;
}
.footer{
  background: url('../img/footer.png');
  padding-top: 1.875rem;
  color: #FFF;
  position: absolute !important;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
}
