.backgroundStyle{
/*background: url(https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
/*background: url(https://images.unsplash.com/photo-1444012236767-1b471c68781c?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
/*background: url(https://images.unsplash.com/photo-1444012104069-996724bf4a0a?dpr=2&fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=50&w=1450);*/
background: url('../img/landing.jpg');
background-size: cover;
background-position: center;
height: 100vh;
transition: background 1.5s linear;
-webkit-backface-visibility: hidden;
webkit-transition: background-image 1.5s linear;
-webkit-tracdnsform:translate3d(0,0,0);
}

.landingContent .bg {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

body,
html {
width: 100%;
height: 100%;
/*font-family: "Lato";*/
}

.landingContent h1 {
font-weight: 700;
font-size: 5em;
}


.landingContent{
padding-top: 20%;
text-align: center;
}

.landingContent h1, .landingContent h3{
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.landingContent hr {
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgba(0,0,0,0.2);
}
